[Unit]
Description=Remind about Arch updates

[Timer]
# Every Saturday at every hour
# DayOfWeek Year-Month-Day Hour:Minute:Second
OnCalendar=Sat *-*-* *:00:00
Persistent=false

[Install]
WantedBy=timers.target

