
@theme "~/.config/rofi/themes/rounded-purple-dark.rasi"

 configuration {
  kb-row-up: "Up,Control+k,Shift+Tab,Shift+ISO_Left_Tab";
  kb-row-down: "Down,Control+j";
  kb-row-left: "Left,Control+h";
  kb-row-right: "Right,Control+l";
  kb-accept-entry: "Control+m,Return,KP_Enter";
  kb-remove-to-eol: "Control+Shift+e";
  kb-mode-next: "Shift+Right,Control+Tab,Shift+l";
  kb-mode-previous: "Shift+Left,Control+Shift+Tab,Shift+h";
  kb-remove-char-back: "BackSpace";

  kb-move-char-back: "Alt+h";
  kb-move-char-forward: "Alt+l";
  kb-move-word-back: "Alt+b,Control+Left";
  kb-move-word-forward: "Alt+e,Control+Right";
  kb-move-front: "Alt+0";
  kb-move-end: "Alt+dollar";
  kb-clear-line: "Alt+d";
  kb-remove-word-forward: "Alt+w";
  kb-accept-alt: "Ctrl+Return";

  kb-custom-10: "";
  kb-mode-complete: "";
  kb-accept-custom: "";
}

window {
  width: 850;
  height: 650;
}

listview {
  columns:       4;
  lines:         7;
  cycle:         true;
  dynamic:       true;
  layout:        vertical;
  flow:          horizontal;
  reverse:       false;
  fixed-height:  true;
  fixed-columns: true;
}

element {
  orientation: vertical;
  //padding: 0 0 0 0;
  spacing: 0 0 0 0;
  margin: 0 0 0 0;
}

element-text {
  vertical-align:   1; 
  horizontal-align: 0.5;
  font: "Unifont 11";
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
